$heading-font-family: 'Omega Flight Expanded', 'Cascadia Code', 'Courier New', Courier, monospace, !default;
$heading-color: #68ff2c;
$site-title-color: $heading-color;
$post-meta-font-family: $heading-font-family;
