@font-face {
    font-family: 'Omega Flight Expanded';
    src: url('/assets/fonts/OmegaFlightExpanded.otf');
}

 h1, h2, h3, h4, h5, h6, .site-title {
    font-family: $heading-font-family;
    color: $heading-color;
    text-shadow: 0 0 0.3em rgba(lighten($heading-color, 50%), 0.7);

    a {
        color: $heading-color;
        text-shadow: 0 0 0.3em rgba(lighten($heading-color, 50%), 0.7);
        &:visited {
            color: desaturate( $heading-color, 30% );
            text-shadow: 0 0 0.3em rgba(lighten(desaturate( $heading-color, 30% ), 50%), 0.7);
        }
        
        &:hover {
            color: $link-hover-color;
            text-shadow: 0 0 0.3em rgba(lighten($link-hover-color, 50%), 0.7);
        }
    }
}

.post-meta {
    font-family: $post-meta-font-family;
}